/*  CSS STYLES SHEET FOR GAME REGISTRARTION FORM */
* {
    box-sizing: border-box;
  }
/* Page background and font */
body {
    background-color:rgba(247, 242, 242, 0.637); 
    background: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    color: rgb(241, 241, 248);

}
/* Main form box div */
.header {
   background-color:rgba(37, 32, 32, 0.425);
   border-bottom: 1 px solid #f0f0f0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 25px;
   font-style:inherit;
}
.header h3{
   margin: 5;
}
/* Main form box div */

.register {
   max-width: 500px;
   margin: auto;
   margin-top: 100px;
   padding: 20px;
   background: linear-gradient(rgb(204, 43, 94), rgb(0, 78, 146));

}
/* Form input labels  */

label {
   width: 100;
   display: inline-block;
   padding: 12px 12px 12px;
   margin-top: 5px;
}

/* Input type padding & border */

input[type=text] { 
    border-radius: 6px;
    padding: 2px;
    border: 1px solid #ccc;
    resize: vertical;
   
}
input[type=email] {
   border-radius: 6px;
   padding: 2px;
   border: 1px solid #ccc;
   resize: auto;
}
input[type=password] {
    border-radius: 6px;
   padding: 2px;
   border: 1px solid #ccc;
   resize: auto;
   overflow: auto;
}
input[type=tel] {
   border-radius: 6px;
   padding: 2px;
   border: 1px solid #ccc;
   resize: vertical;
   overflow: auto;
}
input[type=birthday] {
   border: 6px solid rgb(143, 35, 35);
   border-radius: 6px;
   padding: 2px;
   border: 1px solid #ccc;
   resize: vertical;
   overflow: auto;
}

input[type=submit] {
   text-align: center;
   background-color: #4CAF50;
   color: white;
   padding: 2px 20px;
   border: 25px;
   border-radius: 4px;
   cursor: pointer;
   display: block;
   font-family: inherit;
   font-size: 15px;
  

}
/* Input box width */

.bin-12, .bin-13,.bin-14, .bin-15 , .bin-16 ,.bin-17, .bin-18 ,input {
  width: 85%;
}

 /* Div Bins  */
 
 div.bin-12 {
    text-align: left;
    width: 50%;
    margin-top: 12px;
 }
 div.bin-13{
    text-align: left;  
 }
 div.bin-14 {
    text-align: left;
 } 
 div.bin-15{
   text-align: left;  
}
 div.bin-16 {
    text-align: left;
 } 
 div.bin-17{
   text-align: left;  
}
div.bin-18 {
   text-align: left;
   margin-top: 25px;
}  
 div.input {
   
    margin-block-start: -30px;
    margin-left: 140px;
 } 
 div.bin {
    width: 25%;
    margin-top: 50px;
    float: right;
 }
 
 /* Physical Address Field box */
 .street,.city,.postal-code,.country {
   text-align: center;
   padding: 10px 10px 10px;
   margin-top: auto;
   margin-left : 50px; 

} 
.street,.city,.postal-code {
   width: 100%;
   margin-left: 25px;
}
.Warning strong {
   font-size: 10px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(255, 16, 16);
   /*background-color:rgb(243, 236, 236);
   width: 28px;*/
   text-align: left;
   margin-top: 12px;
   

}
.Warning {
      padding: 2px;
      color: rgb(240, 53, 53);
      vertical-align: inherit;
      text-align: right;
      margin-left: 160px;
      margin-right: 35px;
      background-color: rgba(215, 216, 212, 0.945);
      margin-top: 5px;
      
     
    }

.input p {
   text-align: center;
   background-color: rgba(190, 190, 189, 0.897);
   color: rgb(240, 53, 53);
   margin-left: 60px;
   margin-right: 50px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 12px;
}